<!DOCTYPE html>
{% load static %}
<html lang="ru" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>CMS</title>
  <style media="screen">
  .wrapper-about-us{
    display: flex;
    flex-direction: column;
  }
  .wrapper-about-us h1{
    font-family: Montserrat;
    font-weight: 600;
    text-transform: uppercase;
    color: #428D45;
    display: flex;
    justify-content: center;
  }

  .info-about-us{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .info-about-us ul{
    width: 50%;
    font-family: Montserrat;
  }
  .info-about-us img{
    width: 229px;
    height: 211px;
  }
  </style>
  <title></title>
</head>

<body>
  {% include "hospital/navbar.html" %}
  <br><br>
  <div className="wrapper-about-us">
    <h1> О нашей клинике</h1>
    <div className="info-about-us">
    <ul>
      <li>Наша клиника находится в центре города<br/> 
       Жалал-Абад</li>
      <li>В клинике используют только самые прогрессивные методы диагностики и лечения<br/>
      Современные медицинские подразделения, новейшие технологии, опытные специалисты</li>
      <li>В клинике используют только самые прогрессивные методы диагностики и лечения<br/>
      Современные медицинские подразделения, новейшие технологии, опытные специалисты</li>
      <li>Каждый человек может получить качественное и недорогое лечение <br/>
      Экосистема здравоохранения для безопасности и комфорта пациентов<br/>
      Комфортные условия</li>
    </ul>

    <img src={doctors} />
     
    </div>
</div>
  {% include "hospital/footer.html" %}
</body>

</html>
