{% extends 'hospital/homebase.html' %}

{% block content %}

<style>
  .jumbotron{
    background-color: white ;
  }

  p{
    font-style: oblique;
  }
</style>

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center; text-align:center; color: black; font-style: oblique">Здравствуйте, доктор</h1>
  <p class="lead" style="text-align:center; color: black; font-style: oblique; font-size: 45px;">Добро пожаловать на сайт клиники "BAI" Clinic.</p>
  <p style="text-align:center; color: black; font-style: oblique">Вы можете получить доступ к различным функциям после входа в систему/регистрации.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" style = "background-color:#428D45; margin-top: 1cm;" href="/doctorsignup" role="button">Зарегистрироваться</a>
    <a class="btn btn-primary btn-lg" style = "background-color:#428D45; margin-top: 1cm;" href="/doctorlogin" role="button">Войти</a>
  </p>
</div>

{% endblock content %}
